<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>公告通知</title>
	<meta charset="utf-8">
	<meta name="viewport" content='width=device-width,initial-scale=1'><!--视口-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
	<script src="__PUBLIC__/front/js/jquery.js"></script>
	<script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
		
</head>
<body>
	<div class="header" style="border-radius:0px;">
		
		<div class="logo">
			<a href="index.html"><img src="__PUBLIC__/front/img/logo.png" style="margin:3px 0 0 30px;"></a>
		</div>
		
		<div class="search" style="margin:-40px 0 0 370px;">
			<input type="text" style="width:300px;height:30px;border:none;">
			<button type="submit" class="btn btn-sm">搜 索</button>
		</div>

		<div class="user" style="float:right; margin:-32px 30px 0 0;">
			<div class="btn-group">
			  	<a href="admin.html"><button type="button" class="btn btn-lg">
			  		<span class="glyphicon glyphicon-user"></span> 你的梦里有我吗
			  	</button></a>	  	
			   	<!--<a href="xiaoxi.html"><button type="button" class="btn btn-lg">
			   		<span class="glyphicon glyphicon-envelope"></span>
			   	</button></a>-->
			   	<a href="shezhi.html"><button type="button" class="btn btn-lg">
			   		<span class="glyphicon glyphicon-cog"></span>
			   	</button></a>
			   	<a href="login.html"><button type="button" class="btn btn-lg">
			   		<span class="glyphicon glyphicon-log-in"></span>
			   	</button></a>
			</div>
		</div>

	</div>

	<div class="content">
		
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="index.html">首页</a></li>
				<li><a href="wdsc.html">我的收藏</a></li>
				<li><img src="__PUBLIC__/front/img/line.png"></li>
				<li><a href="rmht.html">热门话题</a></li>
				<li class="active"><a href="ggtz.html">公告通知</a></li>
				<li><a href="xshd.html">学生活动</a></li>
				<li><a href="jsjl.html">技术交流</a></li>
				<li><a href="files_share.html">资料共享</a></li>
				<li><a href="sdtc.html">树洞吐槽</a></li>
				<li><a href="contacts.html">院友录</a></li>
			</ul>
		</nav>

		<div class="right">

			<div class="admin">
				<a href="admin.html"><img src="__PUBLIC__/front/img/index-user.png" style="margin:15px 0 0 46px;width:90;height:87;"></a>
				<p class="name">你的梦里有我吗</p>
				<p class="title"><img src="__PUBLIC__/front/img/title.png">工程师</p>
				
				<nav class="navbar adnav" role="navigation">
					<ul class="nav navbar-nav">
						<li><a href="#"><p>&nbsp;28</p><p style="margin-top:-8px;">关注</p></a></li>
						<li><img src="__PUBLIC__/front/img/line.png"></li>
						<li><a href="#"><p>&nbsp;28</p><p style="margin-top:-8px;">粉丝</p></a></li>
						<li><img src="__PUBLIC__/front/img/line.png"></li>
						<li><a href="#"><p>&nbsp;28</p><p style="margin-top:-8px;">帖子&nbsp;&nbsp;</p></a></li>				
					</ul>
				</nav>
			</div>

			<div class="book">
				<p class="bktitle">推荐书单</p>
				<div id="myCarousel" class="carousel slide">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>   
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner" style="border-top:1px solid #dcdcdc;">
						<div class="item active">
							<img src="__PUBLIC__/front/img/HTML5.jpg" alt="First slide">
						</div>
						<div class="item">
							<img src="__PUBLIC__/front/img/HTML5.jpg" alt="Second slide">
						</div>
						<div class="item">
							<img src="__PUBLIC__/front/img/HTML5.jpg" alt="Third slide">
						</div>
						<br/>
					</div>
				</div>  
			</div>
			
		</div>

		<div class="left">			

		   <div class="tiezi">
		    		<div class="page">
		    			<div class="cont">
		    				<a href=""><img src="__PUBLIC__/front/img/user-lit.png" style="margin:10px 0 0 10px;"></a>
		    				<p class="username" style="margin:-50px 0 0 80px; font-size:15px;">软件学院学生会</p>
		    				<p class="time" style="margin:5px 0 0 80px; font-size:14px;">8:00</p>
		    				<button type="button" class="btn btn-sm gz" style="float:right; margin:-45px 10px 0 0;" onclick="myFunction()">
		    					<span class="glyphicon glyphicon-plus"> 关注</span>
		    				</button>
		    				<div class="co">
			    				<p>近日，全校男篮总冠军争夺赛在体育学院篮球馆举行，我院男篮技压群雄，战胜对手，获得全校男篮总冠军。</p>
								<p>本次争夺赛共有四个队伍参加，分别是前不久刚刚结束的篮球联赛甲组冠、亚军和乙组冠、亚军。其中甲组冠军对阵乙组冠军，争夺总冠军；甲组亚军对阵乙组亚军，争夺季军；我院男篮以甲组冠军身份进军总决赛，对阵乙组冠军法政与公共管理学院男篮，最终，我院男篮以24:19战胜法政与公共管理学院男篮获得全校总冠军。</p>
								<p>据悉，我校每年举行男子篮球甲、乙组分组比赛，本次总冠军争夺赛系近年来首次。我院男篮健儿在甲组比赛中表现突出，以全胜的战绩获得甲组冠军。在本次全校总冠军争夺赛中，软件男篮更是努力拼搏、勇于超越，不但以精湛的球技和默契的协作赢得总冠军，更赢得了对手的尊重及观众的阵阵呼声，极大的激发了软件学院学生们的运动热情。</p>
							</div>
		    			</div>
		    			<img src="__PUBLIC__/front/img/longline.png" style="margin-left:6px;">
		    			<div class="bt">
		    				<button type="button" class="btn btn-md" style="margin-left:10px;">
						   		<span class="glyphicon glyphicon-heart">收藏</span>
						   	</button>
						   	<a href="javascript:void(0)" class="share"><button type="button" class="btn btn-m " style="margin-left:140px;">
						   		<span class="glyphicon glyphicon-share">分享</span>
						   	</button></a>
						   	<button type="button" class="btn btn-md" style="float:right;margin-right:10px;" onclick="myZan()">
						   		<span class="glyphicon glyphicon-thumbs-up">点赞</span>
						   	</button>
		    			</div>
		    			
		    		</div>

		    		<div class="page">
		    			<div class="cont">
		    				<a href=""><img src="__PUBLIC__/front/img/user-lit.png" style="margin:10px 0 0 10px;"></a>
		    				<p class="username" style="margin:-50px 0 0 80px; font-size:15px;">软件学院学生会</p>
		    				<p class="time" style="margin:5px 0 0 80px; font-size:14px;">8:00</p>
		    				<button type="button" class="btn btn-sm gz" style="float:right; margin:-45px 10px 0 0;" onclick="myFunction()">
		    					<span class="glyphicon glyphicon-plus"> 关注</span>
		    				</button>
		    				<div class="co">
			    				<p>近日，全校男篮总冠军争夺赛在体育学院篮球馆举行，我院男篮技压群雄，战胜对手，获得全校男篮总冠军。</p>
								<p>本次争夺赛共有四个队伍参加，分别是前不久刚刚结束的篮球联赛甲组冠、亚军和乙组冠、亚军。其中甲组冠军对阵乙组冠军，争夺总冠军；甲组亚军对阵乙组亚军，争夺季军；我院男篮以甲组冠军身份进军总决赛，对阵乙组冠军法政与公共管理学院男篮，最终，我院男篮以24:19战胜法政与公共管理学院男篮获得全校总冠军。</p>
								<p>据悉，我校每年举行男子篮球甲、乙组分组比赛，本次总冠军争夺赛系近年来首次。我院男篮健儿在甲组比赛中表现突出，以全胜的战绩获得甲组冠军。在本次全校总冠军争夺赛中，软件男篮更是努力拼搏、勇于超越，不但以精湛的球技和默契的协作赢得总冠军，更赢得了对手的尊重及观众的阵阵呼声，极大的激发了软件学院学生们的运动热情。</p>
							</div>
		    			</div>
		    			<img src="__PUBLIC__/front/img/longline.png" style="margin-left:6px;">
		    			<div class="bt">
		    				<button type="button" class="btn btn-md" style="margin-left:10px;">
						   		<span class="glyphicon glyphicon-heart">收藏</span>
						   	</button>
						   	<a href="javascript:void(0)" class="share"><button type="button" class="btn btn-m " style="margin-left:140px;">
						   		<span class="glyphicon glyphicon-share">分享</span>
						   	</button></a>
						   	<button type="button" class="btn btn-md" style="float:right;margin-right:10px;" onclick="myZan()">
						   		<span class="glyphicon glyphicon-thumbs-up">点赞</span>
						   	</button>
		    			</div>
		    			
		    		</div>

		    		<div class="page">
		    			<div class="cont">
		    				<a href=""><img src="__PUBLIC__/front/img/user-lit.png" style="margin:10px 0 0 10px;"></a>
		    				<p class="username" style="margin:-50px 0 0 80px; font-size:15px;">软件学院学生会</p>
		    				<p class="time" style="margin:5px 0 0 80px; font-size:14px;">8:00</p>
		    				<button type="button" class="btn btn-sm gz" style="float:right; margin:-45px 10px 0 0;" onclick="myFunction()">
		    					<span class="glyphicon glyphicon-plus"> 关注</span>
		    				</button>
		    				<div class="co">
			    				<p>近日，全校男篮总冠军争夺赛在体育学院篮球馆举行，我院男篮技压群雄，战胜对手，获得全校男篮总冠军。</p>
								<p>本次争夺赛共有四个队伍参加，分别是前不久刚刚结束的篮球联赛甲组冠、亚军和乙组冠、亚军。其中甲组冠军对阵乙组冠军，争夺总冠军；甲组亚军对阵乙组亚军，争夺季军；我院男篮以甲组冠军身份进军总决赛，对阵乙组冠军法政与公共管理学院男篮，最终，我院男篮以24:19战胜法政与公共管理学院男篮获得全校总冠军。</p>
								<p>据悉，我校每年举行男子篮球甲、乙组分组比赛，本次总冠军争夺赛系近年来首次。我院男篮健儿在甲组比赛中表现突出，以全胜的战绩获得甲组冠军。在本次全校总冠军争夺赛中，软件男篮更是努力拼搏、勇于超越，不但以精湛的球技和默契的协作赢得总冠军，更赢得了对手的尊重及观众的阵阵呼声，极大的激发了软件学院学生们的运动热情。</p>
							</div>
		    			</div>
		    			<img src="__PUBLIC__/front/img/longline.png" style="margin-left:6px;">
		    			<div class="bt">
		    				<button type="button" class="btn btn-md" style="margin-left:10px;">
						   		<span class="glyphicon glyphicon-heart">收藏</span>
						   	</button>
						   	<a href="javascript:void(0)" class="share"><button type="button" class="btn btn-m " style="margin-left:140px;">
						   		<span class="glyphicon glyphicon-share">分享</span>
						   	</button></a>
						   	<button type="button" class="btn btn-md" style="float:right;margin-right:10px;" onclick="myZan()">
						   		<span class="glyphicon glyphicon-thumbs-up">点赞</span>
						   	</button>
		    			</div>
		    			
		    		</div>

		    		<div class="page">
		    			<div class="cont">
		    				<a href=""><img src="__PUBLIC__/front/img/user-lit.png" style="margin:10px 0 0 10px;"></a>
		    				<p class="username" style="margin:-50px 0 0 80px; font-size:15px;">软件学院学生会</p>
		    				<p class="time" style="margin:5px 0 0 80px; font-size:14px;">8:00</p>
		    				<button type="button" class="btn btn-sm gz" style="float:right; margin:-45px 10px 0 0;" onclick="myFunction()">
		    					<span class="glyphicon glyphicon-plus"> 关注</span>
		    				</button>
		    				<div class="co">
			    				<p>近日，全校男篮总冠军争夺赛在体育学院篮球馆举行，我院男篮技压群雄，战胜对手，获得全校男篮总冠军。</p>
								<p>本次争夺赛共有四个队伍参加，分别是前不久刚刚结束的篮球联赛甲组冠、亚军和乙组冠、亚军。其中甲组冠军对阵乙组冠军，争夺总冠军；甲组亚军对阵乙组亚军，争夺季军；我院男篮以甲组冠军身份进军总决赛，对阵乙组冠军法政与公共管理学院男篮，最终，我院男篮以24:19战胜法政与公共管理学院男篮获得全校总冠军。</p>
								<p>据悉，我校每年举行男子篮球甲、乙组分组比赛，本次总冠军争夺赛系近年来首次。我院男篮健儿在甲组比赛中表现突出，以全胜的战绩获得甲组冠军。在本次全校总冠军争夺赛中，软件男篮更是努力拼搏、勇于超越，不但以精湛的球技和默契的协作赢得总冠军，更赢得了对手的尊重及观众的阵阵呼声，极大的激发了软件学院学生们的运动热情。</p>
							</div>
		    			</div>
		    			<img src="__PUBLIC__/front/img/longline.png" style="margin-left:6px;">
		    			<div class="bt">
		    				<button type="button" class="btn btn-md" style="margin-left:10px;">
						   		<span class="glyphicon glyphicon-heart">收藏</span>
						   	</button>
						   	<a href="javascript:void(0)" class="share"><button type="button" class="btn btn-m " style="margin-left:140px;">
						   		<span class="glyphicon glyphicon-share">分享</span>
						   	</button></a>
						   	<button type="button" class="btn btn-md" style="float:right;margin-right:10px;" onclick="myZan()">
						   		<span class="glyphicon glyphicon-thumbs-up">点赞</span>
						   	</button>
		    			</div>
		    			
		    		</div>
		    </div>
		    	
		</div>

	</div>

	<br/>	
	<div class="footer">
		<br/>
		<br/>
		<p>地址：石家庄市裕华区南二环东路20号</p>
	</div>

	<script>

		/*关注按钮*/
		function myFunction(){
			var x;
			var r=confirm("已关注！");
			if (r==true){
				//添加到后台
			}
		}

		function myZan(){
			var y;
			var s=confirm("已赞！");
			if (s==true){
				//添加到后台
			}
		}

	</script>
	<script type="text/javascript" src="__PUBLIC__/front/js/share.js"></script>
	<script  type="text/javascript">
		jQuery('.share').shareConfig({
			Shade : true, //是否显示遮罩层
			Event:'click', //触发事件
			Content : 'Share', //内容DIV ID
			Title : '我爱分享' //显示标题
		});
	</script>
	
</body>
</html>