<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>技术交流</title>
	<meta charset="utf-8">
	<meta name="viewport" content='width=device-width,initial-scale=1'><!--视口-->
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
	<script src="__PUBLIC__/front/js/jquery.js"></script>
	<script src="__PUBLIC__/front/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/front/js/js.js"></script>
		
</head>
<body>
	<div class="header" style="border-radius:0px;">
		
		<div class="logo">
			<a href="index.html"><img src="__PUBLIC__/front/img/logo.png" style="margin:3px 0 0 30px;"></a>
		</div>
		
		<div class="search" style="margin:-40px 0 0 370px;">
			<input type="text" style="width:300px;height:30px;border:none;">
			<button type="submit" class="btn btn-sm">搜 索</button>
		</div>

		<div class="user" style="float:right; margin:-32px 30px 0 0;">
			<div class="btn-group">
			  	<a href="admin.html"><button type="button" class="btn btn-lg">
			  		<span class="glyphicon glyphicon-user"></span> 你的梦里有我吗
			  	</button></a>	  	
			   	<!--<a href="xiaoxi.html"><button type="button" class="btn btn-lg">
			   		<span class="glyphicon glyphicon-envelope"></span>
			   	</button></a>-->
			   	<a href="shezhi.html"><button type="button" class="btn btn-lg">
			   		<span class="glyphicon glyphicon-cog"></span>
			   	</button></a>
			   	<a href="login.html"><button type="button" class="btn btn-lg">
			   		<span class="glyphicon glyphicon-log-in"></span>
			   	</button></a>
			   
			</div>
		</div>

	</div>

	<div class="content">
		
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="index.html" class="ss">首页</a></li>
				<li><a href="wdsc.html" class="ss">我的收藏</a></li>
				<li><img src="__PUBLIC__/front/img/line.png"></li>
				<li><a href="rmht.html">热门话题</a></li>
				<li><a href="ggtz.html">公告通知</a></li>
				<li><a href="xshd.html">学生活动</a></li>
				<li class="active"><a href="jsjl.html">技术交流</a></li>
				<li><a href="files_share.html">资料共享</a></li>
				<li><a href="sdtc.html">树洞吐槽</a></li>
				<li><a href="contacts.html">院友录</a></li>
		</nav>

		<div class="mian">
			<div class="adframe">
				<a href="jsjl/android.html"><div class="adleft">
					<div class="ico">
						<i class="fa fa-android"></i>
					</div>
					<span class="title">
						JAVA与移动智能设备开发
					</span>
					<span class="depict">
						JAVA与移动智能设备开发
					</span>
					<div class="rig" id="r">
						<div class="rbt">
							<span>安卓</span>
						</div>
					</div>
				</div></a>
				<a href="jsjl/data.html"><div class="adleft">
					<div class="ico">
						<i class="fa fa-database"></i>
					</div>
					<span class="title">
						JAVA与大数据分析<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
					<span class="depict">
						JAVA与大数据分析
						<br/>&nbsp;&nbsp;	
					</span>
					<div class="rig" id="r">
						<div class="rbt">
							<span>大数据</span>
						</div>
					</div>
				</div></a>
				<a href="jsjl/html5.html"><div class="adleft">
					<div class="ico">
						<i class="fa fa-edge"></i>
					</div>
					<span class="title">
						HTML5与移动互联网应用开发
					</span>
					<span class="depict">
						HTML5与移动互联网应用开发
					</span>
					<div class="rig" id="r">
						<div class="rbt">
							<span>HTML5</span>
						</div>
					</div>
				</div></a>
				<a href="jsjl/php.html"><div class="adleft">
					<div class="ico">
						<i class="fa fa-weixin"></i>
					</div>
					<span class="title">
						PHP与云计算<br/>
						&nbsp;&nbsp;&nbsp;
					</span>
					<span class="depict">
						PHP与云计算
						<br/>&nbsp;&nbsp;
					</span>
					<div class="rig" id="r">
						<div class="rbt">
							<span>PHP</span>
						</div>
					</div>
				</div></a>
				<a href="jsjl/test.html"><div class="adleft" style="border-right:1px solid #dcdcdc;">
					<div class="ico">
						<i class="fa fa-code"></i>
					</div>
					<span class="title">
						软件测试<br/>
						&nbsp;&nbsp;&nbsp;
					</span>
					<span class="depict">
						软件测试
						<br/>&nbsp;&nbsp;
					</span>
					<div class="rig" id="r">
						<div class="rbt">
							<span>软件测试</span>
						</div>
					</div></a>
				</div>
			</div>
		</div>

	</div>
	<br/>	
	<div class="footer" style="margin-top:62px;">
		<br/>
		<br/>
		<p>地址：石家庄市裕华区南二环东路20号</p>
	</div>

	<script>
		FeiChao.Organ();
		
	</script>
	
</body>
</html>