/*index*/
body{
	font-family: "微软雅黑";
	font-size: 16px;
}
button{
	color:#fff;
	background-color: #ffA500;
	font-size: 12px;
}
.btn-group-lg>.btn, .btn-lg{
	padding: 5px 10px;
}
.header{
	height: 65px;
	background-color: #ffA500; 
}
.content{
	width: 70%;
	height: 100%;
	margin-left: 205px;
	background-color: #fff;
}
.navbar-default{
	background-color: #fff;
	border: 1px solid #dcdcdc;
}
.navbar-default .navbar-nav>li>a{
	color: #ffA500;
}
.nav>li>a{
	padding: 15px 22px;
}		
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #ffA500;
	color: #fff;
}
.bor{
	border-bottom:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	border-left:1px solid #dcdcdc;
}

.page{
	width: 78%;
	height: 220px;
	margin-top: -20px;

.left{
	width: 78%;

}
.wri{
	border-top: 1px solid #dcdcdc;
	width: 95%;
	height: 150px;
	margin-left: 18px;
}

.admin{
	width: 20%;
	height: 220px;
	float: right;
	margin-top: -220px;
}

.page{
	border: 1px solid #dcdcdc;
	margin-top: 20px;
}
.bt{
	margin-top: -6px;
}
.bt button{
	background-color: #fff;
	color: #ffA500;
}

.right{
	/*width: 20%;*/
	float: right;
	margin-top: -305px;
	position: absolute;
	right: 200px;
	top: 422px;
}
.admin{
	height: 220px;
}

.name{
	text-align: center;
	margin-top: 8px;
	font-size: 15px;
}
.title{
	text-align: center;
	font-size: 14px;
	margin-top: -8px;
}
.adnav{
	font-size: 14px;
	height: 30px;
	margin-left: 12px;
	margin-top: -5px;
}
.adnav li a{
	padding: 1px 10px;
	color: black;
}
.adnav li a:hover,.adnav li a:visited{
	background-color: #fff;
	height: 18px;
}
.adnav li img{
	height: 35px;
}
.book{
	margin-top: 20px;
	border-top: 1px solid #dcdcdc;
}
.bktitle{
	color: #ffA500;
	margin-top: 5px;
	margin-left: 2px;
}
.book1{
	border-top: 1px solid #dcdcdc;
}
/*轮播图*/
.carousel{
	height: 220px;
}
.carousel-indicators{
	bottom: -10px;
	color: black;
}
.carousel-indicators .active{
	background-color: #ffA500;
}
.carousel-indicators li{
	background-color: #ccc;
}
.item{
	margin-top: 5px;
}
.footer{
	height: 100px;
	background-color: #eee;
}
.footer p{
	text-align: center;
	font-size: 15px;
}

